<div class="md:w-11/12 flex flex-col items-center border-t-2 border-gray-200">   
    <div  :class="['w-full','relative','flex','flex-col',colors.background,'py-4']">
        <div @click="menu" class="absolute grid place-content-center hover:text-white p-5 w-1 h-1 cursor-pointer transition-colors duration-200 rounded-full hover:bg-primary top-5 right-5" v-if="account_type=='client'">
            <Icon icon="charm:menu-kebab" :class="[colors.text]"/>
        </div>
        <div v-motion-pop-visible class="py-5 px-2 w-44 h-40 bg-white shadow-md absolute top-10 right-14" v-if="menuValue">
            <ul>
                <router-link :to="'/update_job/' + job?.id" class="flex items-center mb-2 p-2 transition-colors duration-300 rounded-lg hover:bg-violet-100 hover:bg-opacity-75 cursor-pointer">
                    <Icon class="text-regal-purple" icon="basil:edit-solid" />
                    <span>Edit job post</span>
                </router-link>
                <li @click="deleteJob" class="flex items-center mb-2 p-2 transition-colors duration-300 rounded-lg hover:bg-violet-100 hover:bg-opacity-75 cursor-pointer">
                    <Icon class="text-regal-purple" icon="material-symbols:delete" />
                    <span>Delete job post</span>
                </li>
            </ul>
        </div>
        <div class="text-sm opacity-70 px-4">Posted {{job?.created_at.split('T')[0]}}</div>
        <router-link :to="'/job/' + job?.id"  :class="[colors.text ,'text-lg' ,'font-semibold', 'px-4 ','pt-2','cursor-pointer']">{{job?.title}}</router-link>
        <div :class="['px-4', 'pb-2', 'text-sm', colors.text]">
            {{job?.description.split(/\n|\r/)[0]}}
        </div>
        <router-link :to="'/job/' + job?.id"  class="underline text-primary px-4 cursor-pointer">more</router-link>
        <div class="flex items-center mt-2 px-4 text-xs">
            <div>Price: </div>
            <div class="px-4  font-semibold text-green-600 uppercase"> {{job?.budjet}}$</div>
        </div>
        <div class="flex items-center px-4 text-xs">
            <div>Proposals: </div>
            <div class="px-4  font-semibold"> 5 to 10</div>
        </div>
    </div>
</div>


