<div class="w-full h-screen overflow-auto flex flex-col items-center bg-violet-50 freelancer-background">
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue target="services" />
    </div>
    <div class="w-11/12 flex flex-col my-16 bg-violet-50/60 rounded-lg p-4" v-if="service !== null">
        <div class="uppercase font-semibold text-lg text-violet-800">Service:</div>
        <div class="w-full flex flex-col md:flex-row py-4">
            <div class="md:w-3/4 order-2 md:order-1 w-full flex items-center flex-wrap">
                <SliderVue v-if="service?.images.length > 0" :images="service?.images" />
                <SliderVue v-if="service?.images.length == 0" :images="[{ id: 0, url: '/default_service_thumbnail.jpg' }]" />
                <div class="w-full flex flex-col">
                    <div class="flex items-center justify-between mt-8 mb-2">
                        <div class="text-lg font-semibold text-violet-600">{{service?.title}}</div>
                        <div class="font-semibold text-green-500">${{service?.price.value}}</div>
                    </div>
                    <div class="text-violet-400 font-medium text-xs pt-1">{{service?.category.name}}</div>
                    <div class="pt-1 flex items-center text-violet-500">
                        <Icon icon="material-symbols:star" v-for="i in service?.rate" />
                        <Icon icon="material-symbols:star-outline" v-for="i in (5 - service?.rate)" />
                    </div>
                    <div class="text-sm text-violet-600 py-4">{{service?.description}}</div>
                    <div class="bg-violet-500 self-end px-16 w-fit text-center py-2 rounded-lg text-violet-50 font-semibold mt-8">BUY</div>
                </div>
            </div>
            <div class="md:w-1/4 order-1 md:order-2 w-full flex flex-col items-end">
                <Service v-if="service?.id == $route.params.id" :service="service" />
            </div>
        </div>  
    </div>
</div>