<div class="w-full h-screen overflow-auto flex flex-col items-center bg-violet-50 freelancer-background">
    <Loading v-if="!Jobs"/>
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue target="home" />
        <div class="w-full text-violet-500 text-xl font-semibold bg-violet-50/60 rounded-lg py-2 px-8 mt-16 shadow-lg">
            JOB POSTS:</div>
        <div class="w-full md:h-80 flex flex-col md:flex-row my-4">
            <div class="md:w-2/3 w-full order-2 md:order-1 md:h-full flex flex-col">
                <div class="md:w-11/12 h-full rounded-lg bg-violet-50/60 flex items-center shadow">
                    <input
                        class="bg-transparent outline-none w-full px-8 py-2 text-violet-900 placeholder:text-violet-500"
                        placeholder="Search..." />
                    <div class="px-4 py-3 rounded-r-lg text-gray-50 bg-violet-600/60">
                        <Icon icon="material-symbols:search" class="text-lg" />
                    </div>
                </div>
                <JobPostVue v-motion-slide-visible-once-top :colors="colors" :job="job" v-for="job in Jobs" />
            </div>
            <div class="md:w-1/3 w-full md:h-full order-1 md:order-2 my-4 md:my-0 flex flex-col items-center">
                <div class="w-full bg-violet-50/60 shadow-lg rounded-lg flex flex-col items-center py-4">
                    <div class="h-16 w-16 bg-violet-200 rounded-full"></div>
                    <div class="text-violet-900 text-sm py-2 font-semibold">{{user_info?.user.username}}</div>
                    <div class="text-violet-900 text-xs py-2">{{user_info?.user.bio || 'Freelancer'}}</div>
                    <div class="w-1/2 flex items-center my-8">
                        <div class="w-1/2 flex flex-col text-sm">
                            <div class="flex items-center text-violet-500 font-medium">
                                <Icon icon="icons8:services" class="mr-2" />Services:
                            </div>
                            <div class="flex items-center text-violet-500 font-medium">
                                <Icon icon="icons8:services" class="mr-2" />Sells:
                            </div>
                            <div class="flex items-center text-violet-500 font-medium">
                                <Icon icon="icons8:services" class="mr-2" />Projects:
                            </div>
                        </div>
                        <div class="w-1/2 flex flex-col text-sm items-center">
                            <div class="text-violet-600 ml-4 font-semibold">{{user_info?.services || 0}}</div>
                            <div class="text-violet-600 ml-4 font-semibold">{{user_info?.sells || 0}}</div>
                            <div class="text-violet-600 ml-4 font-semibold">{{user_info?.projects || 0}}</div>
                        </div>
                    </div>

                    <div class="w-full flex flex-col items-center my-8">
                        <div class="w-5/6 flex items-center justify-between font-semibold text-violet-600">
                            <div class="text-sm">PROPOSALS</div>
                            <Icon icon="uil:angle-down" class="text-xl" />
                        </div>
                        <div class="w-5/6 flex flex-col px-4 py-1">
                            <router-link to="proposals" class="text-xs text-violet-500 underline pb-1">my proposals</router-link>
                            <div class="text-xs text-violet-500 underline pb-1">4 submited proposals</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>