

<div class="relative w-4/5 h-full flex flex-col items-center bg-violet-300/60 rounded-lg overflow-auto">
    <div class="w-full flex items-center px-4 py-2">
        <div class="h-12 w-12 relative">
            <img class="h-full w-full rounded-full object-cover" src="/default_profile_picture.jpg" />
            <div class="absolute bottom-1 right-1 h-2 w-2 bg-green-500 rounded-full"></div>
        </div>
        <div class="ml-4 flex-grow flex flex-col">
            <div class="text-sm font-semibold text-purple-600" v-if="JobPost && client">({{client.client.username}}) {{JobPost.title}}</div>
        </div>
        <div @click="menuIsShow=!menuIsShow" class="text-purple-600 cursor-pointer hover:opacity-70">
            <Icon icon="uiw:more" />
        </div>
        <div v-if="menuIsShow" class="py-2 px-2 w-46 bg-gray-50/60 shadow-lg absolute top-12 left-[80%] transition-all duration-200  rounded-lg">
            <ul class="text-regal-purple">
                <li @click="openModal" class="flex items-center mb-2 p-1 transition-colors duration-300 rounded-lg hover:bg-violet-300/60 hover:bg-opacity-75 cursor-pointer">
                    <Icon icon="material-symbols:info" class="mr-2"/>
                    <span>See chat info </span>
                </li>
                <li class="flex items-center mb-2 p-1 transition-colors duration-300 rounded-lg hover:bg-violet-300/60 hover:bg-opacity-75 cursor-pointer">
                    <Icon icon="material-symbols:delete" class="mr-2"/>
                    <span>Delete chat</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-full flex flex-col flex-grow p-4 bg-violet-200/60 overflow-auto" ref="messagesRef">
        <Loading v-if="isLoading" />
        <div class="flex flex-col mb-4" :class="message.sender == user.id ?'self-end items-end' : 'self-start'" v-for="message in messages" v-if="user">
            <!-- Recv Message-->
            <div class="flex flex-row items-center" v-show="message.sender !== user.id">
                <div class="h-10 w-10 bg-violet-200 rounded-full">
                    <img class="h-full w-full rounded-full object-cover" src="/default_profile_picture.jpg" />
                </div>
                <div class="ml-2 flex flex-col">
                    <div class="py-1 px-4 text-sm bg-violet-50/60 rounded-lg">{{message.message}}</div>
                </div>
            </div>
            <div class="ml-12 text-xs text-purple-500/60" v-show="message.sender !== user.id">{{(message.created_at).substring(12,16)}} PM</div>
            <!-- Sent Message-->
            <div class="flex flex-row items-center" v-show="message.sender == user.id">
                <div class="mr-2 flex flex-col">
                    <div class="py-1 px-4 text-sm bg-violet-600/60 text-purple-50 rounded-lg">{{message.message}}</div>
                </div>
            </div>
            <div class="mr-2 text-xs text-purple-500/60" v-show="message.sender == user.id">{{(message.created_at).substring(12,16)}} PM</div>
        </div>
    </div>
    <div class="w-full flex items-center bg-violet-200/60">
        <div class="flex items-center bg-violet-400/60 rounded-lg flex-grow m-4">
            <input v-model="newMessage" @keyup.enter="sendMessage" class="bg-transparent w-full py-2 px-4 placeholder:text-purple-500" type="text" placeholder="Type your message..." />
            <div class="text-purple-600 text-xl mx-4">
                <Icon icon="material-symbols-light:upload-file" />
            </div>
            <div class="text-purple-600 text-xl mr-4">
                <Icon icon="material-symbols:image" />
            </div>
        </div>
        <div  @click="sendMessage" class="text-purple-600 text-xl mr-4 hover:cursor-pointer">
            <Icon icon="iconamoon:send-fill" />
        </div>
    </div>
    <ModalVue :isOpen="isModalOpen" @close="isModalOpen = false" :end_date="client.end_date" v-if="client"/>
</div>