<div class="w-full h-screen bg-white">
    <ClientHeaderVue />
    <div class=" mt-24 flex items-start justify-between md:mx-24 mx-8 ">
        <div class="w-full md:w-4/12 rounded-br-3xl h-full md:block" :class="chatScreenState? 'hidden' : 'block'">
            <h1 class="text-xl font-semibold my-2">Recent Chats</h1>
            <div class="overflow-y-auto hide-scrollbar h-80">
                <div 
                    v-for="freelancer in freelancers" 
                    @click="ChangeCurrentUser(freelancer.id)"
                    :key="freelancer.freelancer.id" 
                    :class="['flex',  'cursor-pointer', 'hover:bg-black/10',currentUser.freelancer_id == freelancer.freelancer.id && currentUser.job_post_id == freelancer.job_post_id ?'bg-black/5': '', 'hover:bg-opacity-20', ' p-2', 'rounded-lg', 'items-center']"
                >
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class=" font-medium ">{{freelancer.freelancer.first_name}} {{freelancer.freelancer.last_name}}</span>
                        <span class=" font-semibold opacity-30 text-sm ">{{truncatedMessage(freelancer.last_message?.message)}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ClientChatRoomVue :class="chatScreenState? 'block' : 'hidden'" :freelancer="currentUser" @chatState="toggleChatScreen" @received-message="handleMessage" v-if="currentUser"/>
    </div>
</div>