<div class="bg-white min-h-screen">
  <Loading v-if="isLoading" />
  <ClientHeaderVue isHomePath="true" />
  <form
    @submit.prevent="onSubmit"
    class="flex flex-col gap-8 mx-8 md:mx-24 pt-24"
  >
    <div class="flex flex-col gap-2">
      <div class="font-semibold">Create Job Post</div>
      <div class="text-sm opacity-70">Fill the details about your job post</div>
    </div>
    <div
      class="border border-gray-300 rounded-xl mb-4"
      enctype="multipart/form-data"
    >
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Job Title</div>
          <div class="opacity-50">
            Give your job post a clear and specific title.
          </div>
        </div>
        <input
          type="text"
          v-model="title"
          placeholder="Enter Title"
          class="border outline-black/75 w-full p-4 h-fit rounded-lg"
        />
      </div>
      <div class="flex flex-col p-4 md:p-8 border-b">
        <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8">
          <div class="flex flex-col gap-2 text-sm">
            <div class="font-semibold">Add Skills</div>
            <div class="opacity-50">
              List the skills needed to complete this job.
            </div>
          </div>
          <select
            class="border outline-black/75 w-full p-4 h-fit rounded-lg"
            multiple
          >
            <option value="" class="cursor-pointer" selected>All skills</option>
            <option
              :value="category.name"
              v-for="category in categories"
              @click="addSkill"
              class="cursor-pointer"
            >
              {{category.name}}
            </option>
          </select>
        </div>
        <div class="flex gap-2">
          <div
            class="bg-black/10 w-fit text-xs p-2 h-fit rounded-xl"
            v-for="skill in skills"
          >
            {{skill.name}}
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Size</div>
          <div class="opacity-50">Consider the size of your job.</div>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <div class="flex">
            <input
              v-model="selectedSize"
              name="size"
              type="radio"
              value="Small"
              id=""
            />
            <h1 class="ml-2">Small</h1>
          </div>
          <div class="flex">
            <input
              v-model="selectedSize"
              name="size"
              type="radio"
              value="Mediem"
              id=""
            />
            <h1 class="ml-2">Mediem</h1>
          </div>
          <div class="flex">
            <input
              v-model="selectedSize"
              name="size"
              type="radio"
              value="Large"
              id=""
            />
            <h1 class="ml-2">Large</h1>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Experience Level</div>
          <div class="opacity-50">
            Select the required expertise level for this role.
          </div>
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <div class="flex">
            <input
              v-model="selectedLevel"
              name="level"
              value="Beginner"
              type="radio"
              id=""
            />
            <h1 class="ml-2">Beginner</h1>
          </div>
          <div class="flex">
            <input
              v-model="selectedLevel"
              name="level"
              value="Intermidiate"
              type="radio"
              id=""
            />
            <h1 class="ml-2">Intermidiate</h1>
          </div>
          <div class="flex">
            <input
              v-model="selectedLevel"
              name="level"
              value="Expert"
              type="radio"
              id=""
            />
            <h1 class="ml-2">Expert</h1>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Price</div>
          <div class="opacity-50">
            Set a budget or specify the payment for this job.
          </div>
        </div>
        <input
          v-model="budjet"
          type="number"
          class="border outline-black/75 w-full p-4 h-fit rounded-lg"
        />
      </div>
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Expected delivery time (Days)</div>
          <div class="opacity-50">Set an Expected delivery time (Days) .</div>
        </div>
        <input
          type="text"
          v-model="time"
          placeholder="Enter Days number"
          class="border outline-black/75 w-full p-4 h-fit rounded-lg"
        />
      </div>
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Description</div>
          <div class="opacity-50">
            Explain the job details and what you’re looking for.
          </div>
        </div>
        <textarea
          rows="5"
          type="text"
          v-model="description"
          placeholder="Enter a Description"
          class="border outline-black/75 w-full p-4 h-fit rounded-lg"
        />
      </div>
      <div class="flex flex-col md:flex-row gap-4 md:gap-24 p-4 md:p-8 border-b">
        <div class="flex flex-col gap-2 text-sm">
          <div class="font-semibold">Illustrative files</div>
          <div class="opacity-50">
            Files can illustrate details of project .
          </div>
        </div>
        <input
          type="file"
          @change="handleFileChange"
          placeholder="Enter Days number"
          class="border outline-black/75 w-full p-4 h-fit rounded-lg"
          multiple
        />
      </div>
    </div>
    <div class="flex justify-end gap-4 mb-4">
      <button
        @click="cancelOperation"
        class="text-black bg-transparent px-8 py-1.5 hover:text-red-600"
      >
        Cancel
      </button>
      <button
        class="bg-primary text-white rounded-lg px-8 py-1.5 font-semibold hover:bg-opacity-75"
      >
        Create
      </button>
    </div>
  </form>
</div>
