<Loading v-if="isLoading" />
<div class="w-full h-screen overflow-auto flex flex-col items-center bg-violet-50 freelancer-background">
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue target="services" />
    </div>

    <div class="w-11/12 flex flex-col my-16 bg-violet-50/60 rounded-lg p-4" v-if="job">
        <div class="uppercase font-semibold text-lg text-text-spc-purple">Job Post: {{job.title}}</div>
        <div class="w-full flex flex-col md:flex-row justify-between py-4">
            <div class="md:w-2/5 w-full mt-10 flex flex-col md:px-10">
                <div>
                    <h1 class="font-semibold text-xl text-text-spc-purple"> Description :</h1>
                    <p class="font-light text-text-spc-purple">{{job.description}}</p>
                </div>
                <div class="my-2">
                    <div class="flex my-2 items-center">
                        <h1 class="font-semibold text-lg text-text-spc-purple mr-2"> Skills :</h1>
                        <div class="text-white font-semibold bg-violet-800 px-4 py-1 rounded-full text-xs mr-2"
                            v-for="category in job.categories">{{category.name}}</div>
                    </div>
                    <div class="flex my-2 items-center">
                        <h1 class="font-semibold text-lg text-text-spc-purple mr-2"> Size :</h1>
                        <h2 class="font-light text-text-spc-purple">{{job.size}}</h2>
                    </div>
                    <div class="flex my-2 items-center">
                        <h1 class="font-semibold text-lg text-text-spc-purple mr-2"> Level of experience :</h1>
                        <h2 class="font-light text-text-spc-purple">{{job.experience_level}}</h2>
                    </div>
                    <div class="flex my-2 items-center">
                        <h1 class="font-semibold text-lg text-text-spc-purple mr-2"> Project budget :</h1>
                        <h2 class="font-light text-text-spc-purple">{{job.budjet}}</h2>
                    </div>
                    <div class="flex my-2 items-center">
                        <h1 class="font-semibold text-lg text-text-spc-purple mr-2"> Expected delivery time (Days) :
                        </h1>
                        <h2 class="font-light text-text-spc-purple">{{job.expected_delivery_time}}days</h2>
                    </div>
                    <div class="flex my-2">
                        <h1 class="font-semibold text-lg text-text-spc-purple"> Illustrative files :</h1>
                    </div>
                </div>
                <div 
                    @click="openModal" 
                    v-if="!isSent"
                    class="bg-violet-500 bg-violet-500/90 text-violet-50 justify-center cursor-pointer active:scale-105 flex items-center gap-2 transition-all duration-150 self-end px-16 w-full md:w-fit text-center py-2 rounded-lg font-semibold mt-8"
                >
                Send Proposal
                </div>
                <div
                    class="bg-gray-300 text-white flex justify-center items-center gap-2 self-end px-16 w-full md:w-fit text-center py-2 rounded-lg font-semibold mt-8"
                    v-else="isSent"
                >
                    <Icon icon="mdi:receipt-text-pending" width="24" height="24" />
                    Proposal Sent
                </div>
                <ModalVue :isOpen="isModalOpen" @close="isModalOpen = false" @send="handleSend" />
            </div>
            <div class="md:w-1/4 w-full md:flex md:flex-col md:items-end">
                <JobPostVue :job="job" :colors="colors"/>
            </div>
        </div>
    </div>
</div>