<!-- <div class="w-full  bg-violet-50">
    <ClientHeaderVue />
    <div class="mt-20 flex items-center w-full">
        <div class="m-4 md:m-16 w-full rounded-sm bg-white">
            <div class="flex flex-col items-center mt-10 mb-5">
                <div class="mx-auto capitalize text-3xl bg-violet-500 rounded-full w-40 h-40 text-center font-bold mb-3">
                    {{user.first_name[0]}} 
                </div>
                <h1 class="font-bold text-3xl mb-3 rounded-sm">{{user.first_name}} {{user.last_name}}</h1>
                <div class="flex justify-center">
                    <div class="flex mr-2">
                        <span>Algerie </span>
                        <Icon icon="subway:world-1" width="24" height="24" />
                    </div>
                    <div class="flex ml-2">
                        <span>Entrepreneur</span>
                        <Icon icon="solar:user-bold" width="24" height="24" />
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-center md:justify-between w-full">
                <div class="md:w-1/2 w-full flex-wrap">
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">First Name:</h1>
                        <input type="text" v-model="user.first_name" class="bg-violet-200 rounded-md w-full md:w-4/5 py-2 px-5  outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="First Name ...">
                    </div>
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">Telephone:</h1>
                        <input type="text"  class="bg-violet-200 w-full md:w-4/5 py-2 px-5  rounded-md outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Telephone ...">
                    </div>
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">Acount Type</h1>
                        <select class="bg-violet-200 w-full md:w-4/5 py-2 px-5  outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Job Title ...">
                            <option value="">Freelancer</option>
                            <option value="">Client</option>
                        </select>
                    </div>
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">Email:</h1>
                        <input type="email" v-model="user.email" class="bg-violet-200  rounded-md w-full md:w-4/5 py-2 px-5  outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Email ...">
                    </div>
                </div>
                <div class="md:w-1/2 w-full flex-wrap">
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">Last Name:</h1>
                        <input type="text" v-model="user.last_name" class="bg-violet-200 w-full md:w-4/5 py-2 px-5  outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Last Name ...">
                    </div>
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">Country:</h1>
                        <input type="text" class="bg-violet-200  rounded-md w-full md:w-4/5 py-2 px-5  outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Country ...">
                    </div>
                    <div class="mb-5 p-5">
                        <h1 class="font-semibold text-2xl mb-3 rounded-sm">Sex:</h1>
                        <input type="text" class="bg-violet-200  rounded-md w-full md:w-4/5 py-2 px-5  outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Sex ...">
                    </div>
                    <div class="mb-5 mt-16 p-5">
                        <a href="#" class="bg-transparent text-2xl font-semibold text-regal-purple w-full md:w-4/5 outline-none"> Change password</a>
                    </div>
                    <div class="flex justify-center p-5 md:justify-end w-full md:w-4/5 mb-5">
                        <button @click="save" class="px-10 py-2 w-full active:scale-105 transition-all duration-200 bg-regal-purple cursor-pointer border-none focus:ring-2 focus:ring-regal-purple rounded-xl text-white hover:opacity-90">Update information</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="font-bold opacity-50 text-center pb-10 text-lg">© 2023 Novalance. All rights reserved.</h1>
    <ClientFooterVue />
</div> -->
<div class="bg-white min-h-screen">
  <Loading v-if="isLoading" />
  <ClientHeaderVue isHomePath="true" />
  <div class="flex flex-col justify-center mx-8 md:mx-24 py-24">
    <div class="flex flex-col justify-center gap-8">
      <div class="font-bold text-xl">Settings</div>
      <div class="flex flex-col items-start md:flex-row justify-between">
        <div class="flex flex-row md:flex-col gap-4">
          <div class="flex items-center gap-2 cursor-pointer">
            <div class="w-4 h-1.5 md:w-1.5 md:h-4 bg-primary"></div>
            <div class="text-xs">Edit Profiles</div>
          </div>
          <div class="flex items-center gap-2 cursor-pointer">
            <div class="w-4 h-1.5 md:w-1.5 md:h-4 bg-black/25"></div>
            <div class="text-xs">Other Settings</div>
          </div>
        </div>
        <div class="flex flex-col md:w-2/3">
          <div class="flex flex-col gap-2">
            <div class="font-semibold">Edit Profile</div>
            <div class="text-xs font-semibold opacity-70">
              Fill the details about your job post
            </div>
          </div>
          <div class="flex flex-col items-center mt-10 mb-5">
            <div
              class="mx-auto capitalize text-3xl bg-violet-500 flex items-center justify-center rounded-full w-20 h-20 text-center font-bold mb-3"
            >
              {{user?.first_name[0]}}
            </div>
            <h1 class="mb-3">{{user?.first_name}} {{user?.last_name}}</h1>
            <div class="flex gap-4">
              <span class="text-xs opacity-80 capitalize">
                {{user?.country}}
              </span>
              <span class="text-xs opacity-80 capitalize"
                >{{user?.account_type}}</span
              >
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <div class="flex gap-8 items-center w-full">
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user"
              >
                <span>First Name</span>
                <input
                  type="text"
                  placeholder="First Name"
                  v-model="user.first_name"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user"
              >
                <span>Last Name</span>
                <input
                  type="text"
                  placeholder="Last Name"
                  v-model="user.last_name"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
            </div>
            <div class="flex gap-8 items-center">
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user"
              >
                <span>Telephone</span>
                <input
                  type="text"
                  placeholder="Telephone"
                  v-model="user.telephone"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user"
              >
                <span>Country</span>
                <input
                  type="text"
                  placeholder="Country"
                  v-model="user.country"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
            </div>
            <div class="flex gap-8 items-center">
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user"
              >
                <span>Account Type</span>
                <input
                  type="text"
                  disabled
                  placeholder="Account Type"
                  v-model="user.account_type"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user"
              >
                <span>Gender</span>
                <input
                  type="text"
                  placeholder="Gender"
                  v-model="user.gender"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
            </div>
            <div class="flex gap-8 items-center">
              <div
                class="flex flex-col gap-2 w-full"
                v-if="user && user.email"
              >
                <span>Email</span>
                <input
                  type="text"
                  placeholder="Email"
                  v-model="user.email"
                  class="border outline-black/75 w-full py-1 px-2 h-fit rounded-xl"
                />
              </div>
              <div class="flex flex-col gap-2 w-full items-center">
                <span class="font-semibold hover:text-primary cursor-pointer"
                  >Change Password</span
                >
              </div>
            </div>
            <div class="w-full flex items-center justify-end mt-8">
              <button
                @click="save"
                class="bg-primary w-1/2 text-white rounded-xl px-8 py-1.5 font-semibold hover:bg-opacity-75"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
