<div class="w-full h-screen  bg-violet-50 text-purple">
    <ClientHeaderVue />
    <div class=" fixed top-0 mt-20 flex items-center  w-full ">
        <div class="w-full md:w-4/12 rounded-br-3xl bg-violet-50 h-[30.2rem] md:block" :class="chatScreenState? 'hidden' : 'block'">
            <h1 class="text-xl  py-2 px-7 font-bold mb-5">CHAT</h1>
            <h1 class="text-lg  px-7 font-semibold my-2">RECENT CHAT</h1>
            <div class="overflow-y-auto hide-scrollbar h-80">
                <div 
                    v-for="freelancer in freelancers" 
                    @click="ChangeCurrentUser(freelancer.id)"
                    :key="freelancer.freelancer.id" 
                    :class="['flex',  'cursor-pointer', 'hover:bg-[#D8B4FE]/80',currentUser.freelancer_id == freelancer.freelancer.id && currentUser.job_post_id == freelancer.job_post_id ?'bg-[#D8B4FE]/80': '', 'hover:bg-opacity-20', ' p-2', 'rounded-2xl', 'mx-2', 'items-center']"
                >
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class=" font-medium ">{{freelancer.freelancer.first_name}} {{freelancer.freelancer.last_name}}</span>
                        <span class=" font-light opacity-80 ">{{freelancer.last_message?.message}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ClientChatRoomVue :class="chatScreenState? 'block' : 'hidden'" :freelancer="currentUser" @chatState="toggleChatScreen" @received-message="handleMessage" v-if="currentUser"/>
    </div>
</div>