<div class="w-full h-screen  bg-purple-50">
    <ClientHeaderVue />
    <div class=" fixed top-0 mt-20 flex items-center  w-full ">
        <div class=" w-4/12 rounded-br-3xl bg-nice-purple" style=" height: 30.2rem; ">
            <h1 class="text-xl text-white py-2 px-7 font-bold mb-5">CHAT</h1>
            <h1 class="text-lg text-white px-7 font-semibold my-2">RECENT CHAT</h1>
            <div class="overflow-y-auto hide-scrollbar h-80">
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
                <div class="flex cursor-pointer hover:bg-slate-200 hover:bg-opacity-20 p-2 rounded-2xl mx-2 items-center">
                    <div class="w-12 h-12 rounded-full bg-white mx-3"></div>
                    <div class=" flex flex-col w-2/3">
                        <span class="text-white font-regular">Rashford</span>
                        <span class="text-white opacity-80">Hi</span>
                    </div>
                </div>
            </div>
        </div>
        <div class=" w-8/12 flex flex-col justify-between" style="height: 30.2rem;">
                <div class="flex items-center justify-between  h-16 p-2 bg-opacity-80" style="background-color: #D8B4FE ; ">
                    <div class="flex justify-center items-center">
                        <div class="w-10 h-10 rounded-full bg-white"></div>
                        <div class=" flex flex-col w-2/3">
                            <span class=" font-semibold ml-2">Rashford</span>
                        </div>
                    </div>
                    <Icon icon="charm:menu-kebab" class="ml-10 m-5 cursor-pointer"/>
                </div>
                <div class="flex flex-col">
                    <div class="mb-2">
                        <div class="flex justify-start items-center my-5">
                            <div class="w-10 h-10 rounded-full bg-purple-600 m-3"></div>
                            <span class=" px-5 py-1 my-2  rounded-xl shadow-lg bg-white">Hi</span>
                        </div>
                        <div class="text-end my-5">
                            <span class=" px-5 py-1 m-10  rounded-xl shadow-lg text-white" style="background-color: #9333EA;">Hi</span>
                        </div>
                    </div>
                    
                    <div class=" w-full h-16 flex items-center justify-between bg-transparent border-nice-purple" style="border-top: solid 0.5px #9333EA;">
                        <input type="text" class="w-3/4 h-full focus:outline-none p-5 bg-transparent " placeholder="Write message">
                        <div class="flex w-1/4 justify-end">
                            <Icon class="text-nice-purple cursor-pointer w-5 h-5 m-2" icon="material-symbols:upload" />
                            <Icon class="text-nice-purple cursor-pointer w-5 h-5 mr-10 m-2 " icon="material-symbols:send" />
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
    <!-- <h1 class="font-bold opacity-50 text-center pb-10 text-lg">© 2023 Novalance. All rights reserved.</h1> -->
    <!-- <ClientFooterVue /> -->
</div>