<div class="w-full h-screen overflow-auto flex flex-col items-center bg-violet-50 freelancer-background">
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue target="services" />
    </div>
    <Loading v-if="!services"/>
    <div class="w-11/12 flex-grow flex flex-col my-16 bg-gray-50/60 rounded-lg px-8 py-4">
        <div class="uppercase font-semibold text-lg text-violet-800">Services:</div>
        <div class="w-full flex flex-col md:flex-row gap-4 md:gap-0 py-4">
            <div class="md:w-3/4 w-full order-2 md:order-1 flex flex-wrap">
                <a :href="`/service/${service.id}`" class="md:w-1/4 w-full hover:px-1 duration-300 flex flex-col  justify-between mb-8" v-for="service in services">
                    <Service v-motion-slide-visible-once-top :service="service"/>
                </a>
            </div>
            <div class="md:w-1/4 w-full order-1 md:order-2 flex flex-col items-end">
                <div class="md:w-11/12 w-full flex flex-col items-center rounded-lg bg-violet-200/60 py-8">
                    <div class="text-sm text-violet-700 flex items-center font-medium">{{$route.params.username ? `${$route.params.username} have` : "You have"}} {{services?.length}} <Icon class="mx-1" icon="icons8:services" /> Services</div>
                    <div class="text-sm text-violet-700 flex items-center font-medium">and 2 <Icon class="mx-1" icon="material-symbols:sell" /> Sells</div>
                    <div v-if="!$route.params.username" class="bg-violet-600 flex items-center justify-center rounded-lg px-8 py-1 mt-4">
                        <a href="/create_service" class="uppercase font-semibold text-violet-200">Create new service</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>