<div class="w-full h-screen overflow-auto flex flex-col items-center bg-purple-50">
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue />
    </div>
    <div class="w-11/12 flex flex-col my-16">
        <div class="uppercase font-semibold text-lg text-purple-800">Services:</div>
        <div class="w-full flex py-4">
            <div class="w-3/4 flex items-center flex-wrap">
                <a :href="`/service/${service.id}`" class="w-1/4 flex flex-col justify-between mb-8" v-for="service in services">
                    <Service :service="service"/>
                </a>
            </div>
        </div>  
    </div>
</div>