<div class="w-full min-h-screen overflow-hidden bg-violet-50">
    <ClientHeaderVue />
    <div class=" mt-24 py-8 items-center w-full px-8 md:px-0">
        <h1 class="font-bold text-2xl md:mx-20 w-full md:mb-20 mb-10 text-purple">Proposals</h1>
        <div class="flex md:w-1/5 md:ml-16 text-gray-300 justify-around font-semibold">
            <p class=" cursor-pointer" :class="{ 'text-purple font-bold': status === 'active' }"
                @click="changeSection('active')">
                ACTIVE
            </p>
            <p class="hover:cursor-pointer" :class="{ 'text-purple font-bold': status === 'done' }"
                @click="changeSection('done')">
                DONE
            </p>
            <p class="hover:cursor-pointer" :class="{ 'text-purple font-bold': status === 'pending' }"
                @click="changeSection('pending')">
                PENDING
            </p>
        </div>
        <!-- Line under selected status -->
        <div class="relative md:w-4/5 md:ml-20 mt-2 bg-gray-300 h-[0.1rem]">
            <div class="absolute h-0.5 bg-purple transition-all duration-300" :class="{
            'w-12 left-8  md:left-0': status === 'active',
            'w-10 left-32 md:left-[8%]': status === 'done',
            'w-14 left-60 md:left-[16%]': status === 'pending'
        }"></div>
        </div>
        <div>
            <ActiveVue v-if="status === 'active'" :proposals="activeProposals"/>
            <PendingVue 
                v-if="status === 'pending'" 
                :proposals="pendingProposals"
                @proposalAccepted="handleProposalAccepted"
                @proposalDeleted="handleProposalDeleted"
            />
            <DoneVue v-if="status === 'done'" :proposals="doneProposals"/>
        </div>
    </div>
</div>