<div class="w-full flex flex-col rounded-lg">
  <div class="w-full h-40 bg-violet-200 rounded-lg">
    <img
      :src="service.images[0]?.url || '/default_service_thumbnail.jpg'"
      class="w-full h-full object-cover rounded-lg"
    />
  </div>
  <router-link :to="`/service/${service.id}`" class="hover:text-primary font-semibold pt-2 capitalize">
    {{service.title}}
  </router-link>
  <div class="text-purple-400 font-medium text-xs pt-1 opacity-50 capitalize">
    {{service.category.name}}
  </div>
  <div
    class="pt-1 flex items-center text-purple-500"
    @mouseleave="resetHoveredRate"
  >
    <Icon
      v-for="i in 5"
      :key="i"
      :icon="i <= hoveredRate ? 'material-symbols:star' : 'material-symbols:star-outline'"
      class="text-primary cursor-pointer"
      @mouseover="setHoveredRate(i)"
    />
    <div>({{ service.rate }})</div>
  </div>
  <div class="pt-2 font-semibold text-green-500">${{service.price.value}}</div>
</div>
