<div>
    <nav ref="navbarRef" class="h-20 lg:flex absolute top-0 right-24 z-50 items-center justify-between gap-16 hidden">
        <router-link @click="scrollTo(sectionRefHome)" to="#home"
            class="flex flex-col text-white cursor-pointer hover:text-violet-400">Home</router-link>
        <router-link @click="scrollTo(sectionRefServices)" to="#services"
            class="flex flex-col text-white cursor-pointer hover:text-violet-400">Services</router-link>
        <router-link @click="scrollTo(sectionRefAbout)" to="#about"
            class="flex flex-col text-white cursor-pointer hover:text-violet-400">About</router-link>
        <router-link @click="scrollTo(sectionRefFaq)" to="#faq"
            class="text-white flex flex-col cursor-pointer hover:text-violet-400">FAQ</router-link>
        <router-link to="/"
            class="w-1/4 text-white h-full flex justify-center items-center cursor-pointer hover:text-violet-400">
            <img :src="logo" class="mr-1 w-32 h-8" alt="">
            <h1 class="text-xl font-bold inline-block">Novalance</h1>
        </router-link>
    </nav>

    <nav v-if="scrollNavbar"
        class="bg-white/30 lg:w-2/5 w-full rounded-3xl backdrop-blur-lg z-50 fixed top-2 border border-white  lg:left-[25%] flex items-center justify-between py-2 px-8">
        <router-link to="/"
            v-if="!showMobileMenu"
            class=" text-white h-full flex justify-center items-center cursor-pointer hover:text-violet-400">
            <img :src="logo" class="mr-1 w-16 h-12 rounded-3xl" alt="">
            <h1 class="text-xl font-bold inline-block text-violet-400">Novalance</h1>
        </router-link>
        <router-link @click="scrollTo(sectionRefHome)" to="#home"
            class="hidden flex-col lg:flex text-purple cursor-pointer hover:text-violet-400">Home</router-link>
        <router-link @click="scrollTo(sectionRefServices)" to="#services"
            class="hidden lg:flex flex-col text-purple cursor-pointer hover:text-violet-400">Services</router-link>
        <router-link @click="scrollTo(sectionRefAbout)" to="#about"
            class="hidden flex-col lg:flex text-purple cursor-pointer hover:text-violet-400">About</router-link>
        <router-link @click="scrollTo(sectionRefFaq)" to="#faq"
            class="text-purple hidden lg:flex flex-col cursor-pointer hover:text-violet-400">FAQ</router-link>
        <button @click="toggleMenu"
            class="lg:hidden p-2 bg-violet-400 text-white rounded-full">
            <Icon v-if="showMobileMenu" icon="material-symbols:close" width="24" height="24" />
            <Icon v-else="showMobileMenu" icon="ri:menu-4-fill" width="24" height="24" />
        </button>
    </nav>

    <!-- Mobile Menu Button -->

    <!-- Mobile Menu -->
    <nav v-if="showMobileMenu" class="fixed inset-0 bg-violet-100 z-40 flex flex-col items-center justify-center space-y-8">
        <router-link @click="scrollTo(sectionRefHome)" to="#home"
            class="text-violet-400 font-semibold cursor-pointer hover:text-violet-400">Home</router-link>
        <router-link @click="scrollTo(sectionRefServices)" to="#services"
            class="text-violet-400 font-semibold cursor-pointer hover:text-violet-400">Services</router-link>
        <router-link @click="scrollTo(sectionRefAbout)" to="#about"
            class="text-violet-400 font-semibold cursor-pointer hover:text-violet-400">About</router-link>
        <router-link @click="scrollTo(sectionRefFaq)" to="#faq"
            class="text-violet-400 font-semibold cursor-pointer hover:text-violet-400">FAQ</router-link>
        <hr class="border mb-8 mt-32 border-violet-400 w-1/2 mx-auto">
        <router-link to="/" class="text-black flex justify-center items-center cursor-pointer hover:text-violet-400">
            <img :src="logo" class="mr-1 w-32 h-12 rounded-3xl" alt="">
            <h1 class="text-xl font-bold inline-block text-purple">Novalance</h1>
        </router-link>
    </nav>
</div>