<div class="bg-white min-h-screen">
  <ClientHeaderVue />
  <Loading v-if="!Jobs.length > 0" />
  <div class="pt-24 mx-8 md:mx-24 py-4">
    <div class="flex flex-col md:flex-row gap-8 w-full justify-between items-start">
      <div class="flex flex-col gap-2">
        <div class="font-semibold">My Jobs</div>
        <div class="text-sm opacity-70">
          Here you can view all the jobs you've posted previously.
        </div>
        <router-link
          to="/create_job"
          class="bg-primary text-center w-fit mt-4 text-white rounded-2xl px-8 py-1 font-semibold hover:bg-opacity-75"
        >
          Post a New Job
        </router-link>
      </div>
      <div class="flex flex-col gap-4 w-64 px-4 py-2 border border-black rounded-lg">
        <div class="font-semibold text-lg">Activity</div>
        <div class="opacity-75 flex text-xs items-start flex-col gap-2">
          <div>Active Jobs: 20</div>
          <div>New Proposals: 20</div>
          <div>Hiring: 10</div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-8 mt-8 md:w-4/5 min-h-screen">
      <JobPostVue
        v-motion-slide-visible-once-top
        @remove-job="removeJobCard"
        v-for="job in Jobs"
        :key="job.id"
        :job="job"
        :colors="colors"
      />
    </div>
  </div>
  <ClientFooterVue />
</div>
