<div :class="styles.container">
    <Loading v-if="isLoading" />
    <div :class="styles.inner">
        <div :class="styles.headTitle">Sign Up</div>
        <div :class="styles.form">
            <input v-model="username" :class="styles.long_input" type="text" placeholder="Username" />
            <input v-model="first_name" :class="styles.input" type="text" placeholder="First Name" />
            <input v-model="last_name" :class="styles.input" type="text" placeholder="Last Name" />
            <input v-model="email" :class="styles.long_input" type="email" placeholder="Email" />

            <select v-model="account_type" :class="styles.long_input">
                <option>freelancer</option>
                <option>client</option>
            </select>
 
            <input v-model="password" :class="styles.input" type="password" placeholder="Password" />
            <input v-model="confirm_password" :class="styles.input" type="password" placeholder="Confirm Password" />
            <a href="/sign_in" :class="styles.signInBtn">Already have an account ?</a>
        </div>
        <div @click="signUp" :class="styles.signUpBtn">Sign Up</div>
    </div>
</div>