<div>
    <div class="flex justify-between text-gray-300 my-2 md:mx-16 mt-16 font-medium">
        <div class="md:w-1/5 flex justify-around gap-2">
            <span>Freelancer</span>
            <span>Job Title</span>
        </div>
        <div class="md:w-[35%] mr-2 flex justify-around gap-2">
            <span>Cover letter</span>
            <span>Date sent</span>
            <span>Action</span>
        </div>
    </div>
    <hr class="font-semibold text-gray-300 md:mx-16">
    <div v-if="!proposals">Loading...</div>
    <div v-if="proposals.length === 0" class="mx-8 py-4 md:mx-16">No proposals found</div>
    <div v-else>
        <ProposalVue v-for="proposal in proposals" :proposal="proposal" background="bg-white" status="pending"/>
    </div>
</div>