<div class="w-full h-screen overflow-auto flex flex-col items-center bg-violet-50 freelancer-background">
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue target="portfolio" />
    </div>
    <div class="w-11/12 flex-grow flex flex-col my-16 bg-violet-50/60 rounded-lg p-4">
        <div class="uppercase font-semibold text-lg text-purple-800">Project:</div>
        <div class="w-full flex py-4">
            <div class="w-full flex items-center flex-wrap">
                <SliderVue v-if="project.images.length > 0" :images="project.images" />
                <SliderVue v-if="project.images.length == 0" :images="[{ id: 0, url: '/default_project_thumbnail.jpg' }]" />
                <div class="w-full flex flex-col">
                    <div class="text-lg font-semibold text-purple-600">{{project.title}}</div>
                    <div class="text-sm text-purple-400">
                        {{project.description}}
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>