<div class="w-full flex items-center justify-between bg-violet-50/70 rounded-b-3xl shadow-md px-8 py-4">
    <a href="/home" class="text-violet-900 text-base font-bold uppercase">NovaLance</a>
    <div class="flex items-center">
        <a href="/services" :class="'hover:text-violet-600 hidden text-sm mx-4 font-semibold md:flex items-center '+(target == 'services' ? 'text-violet-600 font-bold' : 'text-violet-800')" >
            <Icon icon="icons8:services" class="text-lg" />
            <div class="ml-1">MY SERVICES</div>
        </a>
        <a href="/portfolio" :class="'hover:text-violet-600 hidden text-sm mx-4 font-semibold md:flex items-center '+(target == 'portfolio' ? 'text-violet-600 font-bold' : 'text-violet-800')">
            <Icon icon="bytesize:portfolio" class="text-lg" />
            <div class="ml-1">MY PORTFOLIO</div>
        </a>
        <a href="/chat_client_freelancer" :class="'hover:text-violet-600 hidden text-sm mx-4 font-semibold md:flex items-center '+(target == 'portfolio' ? 'text-violet-600 font-bold' : 'text-violet-800')">
            <Icon icon="teenyicons:chat-outline" class="text-lg" />
            <div class="ml-1">Chat</div>
        </a>
        <a href="/profile" :class="'hover:text-violet-600 hidden text-sm mx-4 font-semibold md:flex items-center '+(target == 'profile' ? 'text-violet-600 font-bold' : 'text-violet-800')">
            <Icon icon="iconoir:profile-circle" class="text-lg" />
            <div class="ml-1">MY PROFILE</div>
        </a>
        <button 
            @click="toggleMenu"
            class="md:hidden hover:text-violet-600 text-sm mx-4 font-semibold">
            <Icon v-if="showMobileMenu" icon="material-symbols:close" />
            <Icon v-else="showMobileMenu" icon="ri:menu-4-fill" />
        </button>
    </div>

    <!-- Mobile Menu -->
    <nav v-if="showMobileMenu" v-motion-pop-visible class="fixed top-0 right-0 inset-0 bg-violet-50/95 z-50 flex flex-col items-center justify-center space-y-8">
        <button @click="toggleMenu"
            class="lg:hidden p-2 rounded-full absolute top-4 text-violet-600 hover:text-violet-600 right-4">
            <Icon icon="material-symbols:close" width="32" height="32" />
        </button>
        <a href="/services" :class="'hover:text-violet-600 text-sm mx-4 font-semibold flex items-center '+(target == 'services' ? 'text-violet-600 font-bold' : 'text-violet-800')" >
            <Icon icon="icons8:services" class="text-lg" />
            <div class="ml-1">MY SERVICES</div>
        </a>
        <a href="/portfolio" :class="'hover:text-violet-600 text-sm mx-4 font-semibold flex items-center '+(target == 'portfolio' ? 'text-violet-600 font-bold' : 'text-violet-800')">
            <Icon icon="bytesize:portfolio" class="text-lg" />
            <div class="ml-1">MY PORTFOLIO</div>
        </a>
        <a href="/chat_client_freelancer" :class="'hover:text-violet-600 text-sm mx-4 font-semibold flex items-center '+(target == 'portfolio' ? 'text-violet-600 font-bold' : 'text-violet-800')">
            <Icon icon="teenyicons:chat-outline" class="text-lg" />
            <div class="ml-1">Chat</div>
        </a>
        <a href="/profile" :class="'hover:text-violet-600 text-sm mx-4 font-semibold flex items-center '+(target == 'profile' ? 'text-violet-600 font-bold' : 'text-violet-800')">
            <Icon icon="iconoir:profile-circle" class="text-lg" />
            <div class="ml-1">MY PROFILE</div>
        </a>
    </nav>
</div>