<div class="w-full flex items-center justify-between bg-purple-50/70 rounded-b-3xl shadow-md px-8 py-4">
    <a href="/" class="text-purple-900 text-xl font-bold">NovaLance</a>
    <div class="flex items-center">
        <a href="/services" class="text-purple-800 text-sm mx-4 font-semibold flex items-center">
            <Icon icon="icons8:services" class="text-lg" />
            <div class="ml-1">MY SERVICES</div>
        </a>
        <a href="/portfolio" class="text-purple-800 text-sm mx-4 font-semibold flex items-center">
            <Icon icon="bytesize:portfolio" class="text-lg" />
            <div class="ml-1">MY PORTFOLIO</div>
        </a>
        <a href="/profile" class="text-purple-800 text-sm mx-4 font-semibold flex items-center">
            <Icon icon="iconoir:profile-circle" class="text-lg" />
            <div class="ml-1">MY PROFILE</div>
        </a>
    </div>
</div>