<Loading v-if="isLoading" />
<div class="p-3 items-center bg-white/50 flex justify-between my-10 mx-16 rounded-md">
    <div class="flex justify-around w-2/5">
        <div class="h-10 w-10 flex justify-center items-center text-lg capitalize rounded-full bg-slate-500 text-purple cursor-pointer"
            @click="openModal">{{getFirstLetter(client.username) }}</div>
        <p class="font-semibold w-2/3 underline opacity-80 text-purple">{{jobTitle}}</p>
    </div>
    <div class="flex justify-around text-gray-300 w-[35%]" v-if="status == 'pending'">
        <div :class="{'truncate w-16 hover:underline': isTruncated, 'hover:text-purple w-32 cursor-pointer': true}"
            @click="toggleTruncate">{{proposal.cover_letter}}</div>
        <p class="flex flex-col items-center">
            <span>{{createdAtDay}}</span>
            <span>{{createdAtTime}}</span>
        </p>
    </div>
    <div class="flex justify-around text-purple w-1/5" v-else="status == 'active'">
        <p class="flex flex-col items-center">
            <span>{{startedAtDay}}</span>
            <span>{{startedAtTime}}</span>
        </p>
        <p class="flex flex-col items-center" v-if="proposal.ends_at">
            <span>{{endedAtDay}}</span>
            <span>{{endedAtTime}}</span>
        </p>
        <p>
            Not yet
        </p>
    </div>
</div>