<div class="h-screen  bg-cover bg-center" :style="{ backgroundImage: `url(${backgroundImagePath})` }">
    <ClientHeaderVue isHomePath="true"/>
    <menu class="flex flex-col justify-center items-center h-5/6 w-screen">
        <h1 class="text-white text-4xl font-bold mx-8">
            Welcome, Salah! Let's start <br> with your first job post.
        </h1>
        <div class="flex w-full lg:w-auto mt-5 flex-col lg:flex-row gap-4 lg:gap-0">
            <router-link to="/my_jobs w-screen" class="lg:mx-0 mx-8">
                <button class="border-4 lg:border-2 py-2 rounded-md cursor-pointer w-full text-white font-bold border-white bg-transparent px-8 hover:opacity-70 focus:opacity-100">Get started </button>
            </router-link>
            <div class=" rounded-lg hidden lg:flex bg-white bg-opacity-30 ml-5 py-2 px-6">
                <router-link :to="path" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" class="text-white mr-2 mt-1"><path fill="currentColor" d="m29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29ZM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9Z"/></svg>
                </router-link>
                <input type="text" v-model="title" class="bg-transparent  focus:border-none active:border-none outline-none text-bold text-white placeholder:text-white"  placeholder="Quick search.." >
            </div>
        </div>
    </menu>
</div>