<div class="w-11/12 flex flex-col items-center my-4">   
    <div  :class="['w-full','relative','flex','flex-col',colors.background,'shadow-md','rounded-lg','py-4']">
        <div @click="menu" class="absolute grid place-content-center p-5 w-1 h-1 cursor-pointer transition-colors duration-200 rounded-full hover:bg-purple-100 top-5 right-5" v-if="account_type=='client'">
            <Icon icon="charm:menu-kebab" :class="[colors.text]"/>
        </div>
        <div class="py-5 px-2 w-44 h-40 bg-purple-50 shadow-lg absolute top-10 right-14" v-if="menuValue">
            <ul>
                <router-link :to="'/update_job/' + job.id" class="flex items-center mb-2 p-2 transition-colors duration-300 rounded-lg hover:bg-purple-100 hover:bg-opacity-75 cursor-pointer">
                    <Icon class="text-regal-purple" icon="basil:edit-solid" />
                    <span>Edit job post</span>
                </router-link>
                <li @click="deleteJob" class="flex items-center mb-2 p-2 transition-colors duration-300 rounded-lg hover:bg-purple-100 hover:bg-opacity-75 cursor-pointer">
                    <Icon class="text-regal-purple" icon="material-symbols:delete" />
                    <span>Delete job post</span>
                </li>
            </ul>
        </div>
        <router-link :to="'/job/' + job.id"  :class="[colors.text ,'text-lg' ,'font-semibold', 'px-4 ','py-2','cursor-pointer']">{{job.title}}</router-link>
        <div class="flex items-center my-2">
            <div class="px-4 py-2 text-xs font-semibold text-green-600 uppercase">FIXED {{job.budjet}}$</div>
        </div>
        <div :class="['px-4', 'py-2', 'text-sm', colors.text]">
            {{job.description}}
        </div>
        <div class="my-2 px-4 flex items-center">
            <div class="text-white font-bold bg-purple-800 px-4 py-1 rounded-full text-xs mr-2" v-for="category in job.categories">{{category.name}}</div>
        </div>
    </div>
</div>


