<div class="min-h-screen overflow-hidden flex flex-col items-center bg-violet-50 freelancer-background">
    <Loading v-if="isLoading" />
    <div class="w-11/12 flex flex-col items-center">
        <FreeLancerHeaderVue target="profile" />
    </div>
    
    <div class=" mt-16 items-center w-full">
        <h1 class="font-bold mx-8 text-2xl md:mx-20 w-full mb-20 text-purple">Proposals</h1>
        <div class="flex md:w-1/5 md:ml-16 text-gray-300 justify-around font-semibold">
            <p class=" cursor-pointer" :class="{ 'text-purple font-bold': status === 'active' }"
                @click="changeSection('active')">
                ACTIVE
            </p>
            <p class="hover:cursor-pointer" :class="{ 'text-purple font-bold': status === 'done' }"
                @click="changeSection('done')">
                DONE
            </p>
            <p class="hover:cursor-pointer" :class="{ 'text-purple font-bold': status === 'pending' }"
                @click="changeSection('pending')">
                PENDING
            </p>
        </div>
        <!-- Line under selected status -->
        <div class="relative w-4/5 md:w-4/5 md:ml-20 bg-gray-300 h-[0.1rem]">
            <div class="absolute h-0.5 bg-purple transition-all duration-300" :class="{
                'w-12 left-8  md:left-0': status === 'active',
                'w-10 left-32 md:left-[8%]': status === 'done',
                'w-14 left-60 md:left-[16%]': status === 'pending'
        }"></div>
        </div>
        <div class="mx-8 md:mx-0">
            <ActiveVue v-if="status === 'active'" :proposals="activeProposals"/>
            <PendingVue v-if="status === 'pending'" :proposals="pendingProposals"/>
            <DoneVue v-if="status === 'done'" :proposals="doneProposals"/>
        </div>
    </div>
</div>