<div class="faq-item">
    <div class="w-full flex justify-between items-center bg-white/10 rounded-lg p-4 cursor-pointer" @click="toggle">
        <div class="text-white font-semibold">
            {{ question }}
        </div>
        <Icon icon="mingcute:down-fill" width="24" height="24" class="text-white"/>
    </div>
    <transition name="slide-fade">
        <div v-if="show" class="answer text-white bg-white/10 p-4 mt-2 rounded-lg">
            {{ answer }}
        </div>
    </transition>
</div>