@tailwind base;
@tailwind components;
@tailwind utilities;


.freelancer-background {
    background: url('/freelancer_bg.png');
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 7px;
    background: rgb(245 243 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D8B4FE;
}
.hide-scrollbar::-webkit-scrollbar {
    width: 0;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4F4F4F;
  }

  .hide-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent;
  }


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #B0B0B0;
border: 1px solid  #B0B0B0;;
transition: .4s;
border-radius: 32px;
outline: none;
}

.slider:before {
position: absolute;
content: "";
height: 1.5rem;
width: 1.5rem;
border-radius: 50%;
outline: 2px solid  #B0B0B0;
left: -1px;
bottom: -1px;
background-color: #fff;
transition: transform .25s ease-in-out 0s;
}
  
.slider-icon {
opacity: 0;
height: 12px;
width: 12px;
stroke-width: 8;
position: absolute;
z-index: 999;
stroke: rgb(139 92 246);
right: 30%;
top: 30%;
transition: right ease-in-out .3s, opacity ease-in-out .15s;
}

input:checked + .slider {
background-color: rgb(139 92 246);
}

input:checked + .slider .slider-icon {
opacity: 1;
right: 15%;
}

input:checked + .slider:before {
transform: translateX(1.5em);
outline-color: rgb(139 92 246);
}