<div class="w-full bg-purple-50">
    <ClientHeaderVue />
    <main class=" flex w-full">
        <div class="w-2/5 mt-40 flex flex-col items-center">
            <div>
                <h1 class="font-bold text-xl">Job post</h1>
                <h2 class="font-semibold">Start your Job</h2>
                <p class="font-normal">You can complete your project as you <br> want through a freelancer, enter the <br> project details, budget and expected <br> period to be reviewed and published <br> for free, then it will appear to the <br> freelancers on the projects page and <br> submit their offers on it to choose <br> the most suitable offer for you and <br> the freelancer begins to implement <br> the project.</p>
                <h2 class="font-semibold">Tips for a successful business </h2>
                <p class="font-normal"> .Clarify all the details and  tasks <br> to be accomplished <br>
                    .Fill in all fields and provide <br> examples of what you want to do <br>
                    .Project part and large tasks in <br> several small stages
                </p>
            </div>
        </div>
        <form @submit.prevent="onSubmit" class="w-3/5  mt-40 " enctype="multipart/form-data">
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3">Job Title:</h1>
                <input v-model="title" type="text" class="bg-purple-200 rounded-lg py-2 px-5 w-4/5 outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="Job Title ...">
            </div>
            <div class="mb-5">
                <h1  class="font-semibold text-2xl mb-3">Job Description:</h1>
                <textarea v-model="description" cols="78" rows="8" class="p-2 bg-purple-200 outline-none rounded-lg"></textarea>
            </div>
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3 rounded-lg">Select skills for your job:</h1>
                <select  class="bg-purple-200 py-2 px-5 w-4/5 outline-none focus:border-none rounded-lg" multiple>
                    <option value="" selected>All skills</option>
                    <option :value="category.name" v-for="category in categories" @click="addSkill">{{category.name}}</option>
                </select>
                <br>
                <div class="text-white inline-block m-2 font-bold bg-purple-800 px-4 py-1 rounded-full text-xs mr-2" v-for="skill in skills">{{skill.name}}</div>

            </div>
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3">Consider the size of your job:</h1>
                <div class="w-3/5 flex justify-between ml-5">
                    <div class="flex">
                        <input v-model="selectedSize" name="size" type="radio" value="Small" id="" >
                        <h1 class="ml-2">Small</h1>
                    </div>
                    <div class="flex">     
                        <input v-model="selectedSize" name="size" type="radio" value="Mediem" id="" >
                        <h1 class="ml-2">Mediem</h1>
                    </div>
                    <div class="flex">
                        <input v-model="selectedSize" name="size" type="radio" value="Large" id="" >
                        <h1 class="ml-2">Large</h1>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3">What level of experience will it need?</h1>
                <div class="w-3/5 flex justify-between ml-5">
                    <div class="flex">
                        <input v-model="selectedLevel" name="level" value="Beginner" type="radio" id="" >
                        <h1 class="ml-2">Beginner</h1>
                    </div>
                    <div class="flex">     
                        <input v-model="selectedLevel" name="level" value="Intermidiate" type="radio" id="" >
                        <h1 class="ml-2">Intermidiate</h1>
                    </div>
                    <div class="flex">
                        <input v-model="selectedLevel" name="level" value="Expert" type="radio" id="" >
                        <h1 class="ml-2">Expert</h1>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3">Project budget</h1>
                <div class="w-4/5 flex justify-between items-center">
                    <h1 class="font-meduim text-lg ml-5"> Maximum project budget (DZ)</h1>
                    <input v-model="budjet" type="number" placeholder="0" class="rounded-2xl px-2 py-1 bg-transparent border-2 border-slate-800 placeholder:float-right placeholder:mr-3">
                </div>
            </div>
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3">Expected delivery time (Days)</h1>
                <input v-model="time" type="text" class="bg-purple-200 rounded-lg py-2 px-5 w-4/5 outline-none placeholder:text-slate-900 placeholder:font-normal placeholder:text-base" placeholder="days ...">
            </div>
            <div class="mb-5">
                <h1 class="font-semibold text-2xl mb-3">Illustrative files </h1>
                <input @change="handleFileChange" type="file" class="bg-purple-200 rounded-lg py-2 px-5 w-4/5" multiple>
            </div>
            <div class="flex justify-end w-4/5 mb-5">
                <button  class="px-10 py-2 bg-regal-purple cursor-pointer border-none focus:ring-2 focus:ring-regal-purple rounded-xl text-white hover:opacity-90">Post a job</button>
            </div>
        </form>
    </main>
    <ClientFooterVue />
</div>