<div class="w-full md:block md:w-7/12 rounded-2xl flex flex-col justify-between bg-black/5 md:h-[25rem] h-[90vh]">
    <div class="w-full overflow-auto border-b border-slate-400/20 ">
        <div class="flex items-center justify-between w-full h-16 p-2   ">
            <div class="flex justify-center items-center mx-4">
                <Icon icon="majesticons:arrow-left-line" width="32" height="32" class="mr-2 md:hidden" @click="toggleChatScreen"/>
                <div class="w-8 h-8 rounded-full bg-violet-200 flex items-center justify-center font-semibold text-lg capitalize">{{freelancer.freelancer.username[0]}}</div>
                <span  v-if="freelancer && JobPost" class=" font-semibold ml-2 text-sm">({{freelancer.freelancer.first_name}} {{freelancer.freelancer.lastname}}) {{JobPost.title}}</span>
            </div>
            <Icon icon="charm:menu-kebab" class="ml-10 m-5 rotate-90 cursor-pointer"     @click="menuIsShow=!menuIsShow" />
            <div v-motion-pop-visible class="py-2 px-2 w-60 bg-white shadow-lg absolute top-12 left-2/3 transition-all duration-200  rounded-lg"   v-if="menuIsShow">
                <ul class="text-regal-purple">
                    <li @click="openModal" class="flex items-center mb-2 p-1 transition-colors duration-300 rounded-lg hover:bg-violet-100 hover:bg-opacity-75 cursor-pointer">
                        <Icon icon="mingcute:settings-2-fill" class="mr-2"/>
                        <span>Set the end of the contract </span>
                    </li>
                    <li class="flex items-center mb-2 p-1 transition-colors duration-300 rounded-lg hover:bg-violet-100 hover:bg-opacity-75 cursor-pointer">
                        <Icon icon="material-symbols:delete" class="mr-2"/>
                        <span>Delete chat</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex flex-col h-5/6">
        <div class="mb-2 h-5/6 overflow-scroll" ref="messagesRef" >
            <Loading v-if="isLoading" />
            <div v-for="message in messages" :key="message.id" :class=" message.sender === user.id ? 'flex justify-end items-center':'flex justify-start items-center ' " v-if="user">
                <span class="font-light mr-2 flex items-center" v-show="message.sender == user.id"><Icon icon="material-symbols:done" width="20" height="20" />{{(message.created_at).substring(12,16)}}</span>
                <div class=" px-5 py-1 my-5 rounded-2xl shadow-lg flex flex-col items-end text-sm text-white bg-[#9333EA]"  v-if="message.sender == user.id"> 
                    <span class="mr-2">{{ message.message }} </span>
                </div>                
                <div class="w-8 h-8 rounded-full bg-violet-600 mx-3" v-else></div>
                <span class=" px-5 py-1 my-5 rounded-xl shadow-lg bg-white"  v-show="message.sender !== user.id">{{ message.message }} </span>
                <span class="font-light text-xs ml-2" v-show="message.sender !== user.id">{{(message.created_at).substring(12,16)}}</span>                
            </div>
        </div>
        
        <div class="mx-4 flex items-center justify-between gap-2 bg-transparent bg-white rounded-xl my-2">
            <input v-model="newMessage" @keyup.enter="sendMessage" type="text" class="w-3/4 focus:outline-none px-5 placeholder:text-black/50 text-black placeholder:text-sm py-1 bg-transparent " placeholder="Type your message...">
            <div class="flex w-1/4 gap-2 items-center justify-end">
                <Icon class="text-gray-400 cursor-pointer" icon="material-symbols:image" width="24" height="24" />
                <Icon class="text-gray-400 cursor-pointer" icon="material-symbols:upload-file-rounded" width="24" height="24" />
                <Icon @click="sendMessage" class="bg-primary text-white rounded-full p-2 hover:opacity-75 cursor-pointer w-8 h-8 mr-4 m-2 " icon="mynaui:send-solid" />
            </div>
        </div>
    </div>
    <ModalVue :isOpen="isModalOpen" @close="isModalOpen = false" @send="handleSend" :end_date="freelancer.end_date" v-if="freelancer"/>
</div>
