<div class="flex items-end flex-col w-full">
  <div ref="container" class="flex overflow-hidden rounded-lg md:h-80">
    <div class="min-w-full h-full" v-for="img in images">
      <img
        :src="img.url"
        class="block w-full h-full object-cover rounded-md"
        alt="..."
      />
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row gap-4 items-center justify-between w-full mt-2"
  >
    <div class="flex space-x-3 rtl:space-x-reverse">
      <button
        type="button"
        :class="'h-3 rounded-full '+(img.id !== selected.id ? 'w-3 bg-gray-400' : 'w-5 bg-primary')"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"
        v-for="img in images"
      ></button>
    </div>
    <div class="flex items-center">
      <button
        @click="prev"
        type="button"
        class="flex items-center justify-center h-full px-2 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          :class="[
                i == 0 ? 'bg-gray-200' : ' bg-primary group-hover:bg-primary/75',
                'inline-flex items-center justify-center w-8 h-8 rounded-full text-white group-focus:ring-4 group-focus:ring-white group-focus:ring-purple-800/70 group-focus:outline-none'
              ]"
        >
          <Icon icon="mingcute:left-fill" class="text-2xl text-purple-500" />
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        @click="next"
        type="button"
        class="flex items-center justify-center h-full px-2 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          :class="[i == images.length - 1 ? 'bg-gray-200' : ' bg-primary group-hover:bg-primary/75', 'inline-flex items-center justify-center w-8 h-8 rounded-full text-white group-focus:ring-4 group-focus:ring-white group-focus:ring-purple-800/70 group-focus:outline-none']"
        >
          <Icon icon="mingcute:right-fill" class="text-2xl text-purple-500" />
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>
</div>
