<div class="relative w-full">
    <div ref="container" class="h-56 flex overflow-hidden rounded-lg md:h-96 bg-violet-200/60 shadow-md">
        <div class="min-w-full h-full" v-for="img in images">
            <img :src="img.url" class="block w-full h-full object-contain" alt="...">
        </div>
    </div>
    <div class="flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" :class="'w-3 h-3 rounded-full '+(img.id == selected.id ? 'bg-violet-400' : 'bg-violet-200')" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0" v-for="img in images"></button>
    </div>
    <button @click="prev" type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-violet-500/30 group-hover:bg-violet-600/50  group-focus:ring-4 group-focus:ring-white group-focus:ring-purple-800/70 group-focus:outline-none">
            <Icon icon="mingcute:left-fill" class="text-2xl text-purple-500" />
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button @click="next" type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-violet-500/30 group-hover:bg-violet-600/50  group-focus:ring-4 group-focus:ring-white group-focus:ring-purple-800/70 group-focus:outline-none">
            <Icon icon="mingcute:right-fill" class="text-2xl text-purple-500" />
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>